- name: copy {{ component }} service
  ansible.builtin.template:
    src: "{{ component }}.service.j2"
    dest: /etc/systemd/system/{{ component }}.service
  notify: daemon reload

- name: start the service
  ansible.builtin.service:
    name: "{{ component }}"
    state: restarted
    enabled: yes

#Template: fixted form with placeholders
# ansible templates are jinja2-formatted files, there will be place holders inside the file, actual values will be submitted at runtime and copied to remote server.